    .main {
    margin: 0;
    width: 100%;
    height: 100%;
    padding: 0;
    }

    .main_div {
    padding: 0px;
    width: 100%;
    height: 100%;
    }


    .top_header {
    top: 0px;
    height: 80px;
    display: flex;
    width: 100%;
    z-index: 999;
    margin-right: 0;
    margin-left: 0;
    }

    .top_left_bar {
    float: left;
    text-indent: 250px;
    display: flex;
    align-items: center;
    width: 60%;
    font-weight: bold;
    font-size: 35px;
    background-image: linear-gradient(#EDEADE, white, #EDEADE);
    height: 100%;
    font-family: Perpetua;
    }

    .top_right_bar {
    background-image: linear-gradient(#EDEADE, white, #EDEADE);
    text-indent: 40px;
    display: flex;
    align-items: center;
    float: right;
    width: 45%;
    margin-right: 0;
    z-index: 500;
    overflow: hidden;
    }


    .profile_picture{
    height: 350px;
    width: 600px;
    position: absolute;
    top: 160px;
    right: 145px;
    }

    .top_right_picture{
    float: right;
    width: 65%;
    height: 65%;
    }

    .top_right_picture:hover{
        width: 75%;
        height: 75%;
    }


    .top_right_link {
    color: black;
    text-decoration: none;
    font-family: Perpetua;
    font-size: 27px;
    }

    .top_right_link:hover {
    text-decoration: underline;
    margin-left: 5px;
    margin-right: 5px;
    font-family: Perpetua;
    }

    .experience_picture {
    height: 250px;
    width: 400px;
    }


    .dropdown_button {
    border: none;
    outline: none;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
    font-size: 25px;
    color: black;
    font-weight: bold;
    }

    .dropdown-content {
    display: none;
    position: absolute;
    background-color: grey;
    min-width: 20px;
    box-shadow: 0px 8px 5px 0px rgba(0,0,0,0.2);
    z-index: 1;
    }

    .dropdown:hover .dropdown-content {
    display: block;
    background-color: white;
    }

    .introduction_text {
    text-align: center;
    font-style: normal;
    font-family: Helvetica;
    }

    .float-container {
    padding: 20px;
    display: flex;
    width: 100%;
    }

    .float_child_left {
    width: 50%;
    float: left;
    padding: 20px;
    display: flex;
    }

    .float_child_right {
    width: 50%;
    float: right;
    padding: 20px;
    display: flex;
    }

    .white_page_break {
    background: white;
    height: 70px;
    width: 100%;
    }

    /* Contact button */
    .middle_button {
    border-radius: 8px;
    padding:20px;
    background-color: #00fa9a;
    height:13px;
    width:120px;
    margin-left: 150px;
    cursor:pointer;
    color: white;
    }

    .middle_button:hover {
    background-color: grey;
    transition: 0.6s ease;
    cursor: pointer;
    color:black;
    height:14px;
    width:125px;
    }


    .footer {
    display: flex;
    background-color: #080808;
    width: 100%;
    height: 400px;
    padding: 30px;
    }

    .slide_image.display_slide{
        display:block;
    }
    .slideshow_container {
        margin: auto;
        width: 700px;
        position: relative;
        overflow: hidden; 
        height: 70%; 
        display: flex;
    }
    .slideshow_container img {
        width: 100%;
        height: 100%;
        display: none;
    }

    /* On hover, add a black background color with a little bit see-through */
    .prev:hover, .next:hover {
        background-color: rgba(0,0,0,0.8);
    }

    .prev, .next {
        cursor: pointer;
        position: absolute;
        top: 50%;
        width: auto;
        margin-top: -22px;
        padding: 16px;
        color: white;
        font-weight: bold;
        font-size: 18px;
        transition: 0.6s ease;
        border-radius: 0 3px 3px 0;
        user-select: none;
    }
    /* Position the "next button" to the right */
    .next {
        right: 0;
        border-radius: 3px 0 0 3px;
    }

    .fade {
        animation-name: fade;
        animation-duration: 1.5s;
    }


    .dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 5px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
    }
    .active_dot, .dot:hover {
    background-color: #717171;
    }

    .resume_download{
        text-decoration:none;
        color:#159765;
        font-size: 18px;
    }

    .resume_download:hover{
        font-size: 19px;
        color:white;
    }

    @keyframes fade {
        from {opacity: .2}
        to {opacity: 1}
    }

    .learn_more_text {
        color: grey;
        font-size: 18px; 
        display: none;
    }

    .learn_more_text_show {
        display: block;
    }

    .welcome_text{
        animation: fade_right 1.2s both;
    }

    .skills{
        opacity: 0;
        color:white; 
        font-size:18px; 
        text-indent:5px;
        opacity: 0;
        transform: translateX(-300px);
        transition: all 0.7s ease-out;
        transition-delay: 0.4s;
    }
    
    
    .skills_fade {
        opacity: 1;
        transform: translateX(0);
    }

    @keyframes fade_right {
        0% {
            opacity: 0;
            transform: translatex(-50px);
        }
        100% {
            opacity: 1;
            transform: translatex(0);
        }
    }