#body {
    margin:0px; 
    height:100%; 
    width:100%; 
    display:flex;
}

#background_picture {
    height:100%;
    width:100%;
    opacity: 0.6;
    margin: auto;
}

#left_box {
    position:absolute; 
    top:180px; 
    left:180px;
    background-color:white;
    height:600px; 
    width:600px;
    background-image: linear-gradient(#EDEADE, white, #EDEADE);
}

#right_box {
    position:absolute;
    top:420px;
    left:1200px;
    background-color:white;
    height:180px;
    width:500px;
    background-image: linear-gradient(#EDEADE, white, #EDEADE);
}

#list {
    list-style-type:none;
    margin: 25px;
}

#mailbox_picture {
    margin: auto;
    width: 50px;
    height: 50px;
    border-radius: 20px;
}

#return_arrow{
    transform: rotate(135deg); 
    -webkit-transform: rotate(135deg); 
    border: solid white; 
    border-width: 0 6px 6px 0; 
    display: inline-block; 
    padding: 3px;
    position: absolute;
    top:120px; 
    left:180px;
}

#return_button{
    text-decoration: none;
    position: absolute; 
    top:88px; left:192px; 
    font-size: 25px; 
    color: white;
}


#return_button:hover{
    font-size:25px;
    color: grey;
}